<!DOCTYPE html>
<html>
<head>
	<title>Equipo docente</title>
</head>
<body>
	<h1>Equipo docente</h1>
	<h2>Profesores de cátedra</h2>
	<h3>Ángel Jiménez Molina</br>
	Iván Díaz Campos </h3>
	<h2>Profesores auxiliares</h2>
	<h3>Javiera Ovalle T.</br>
	Jorge Pinto</br>
	José Canto</br>
	Macarena V. Osorio A.</h3> 
	<h2>Ayudantes</h2>
	<h3>Carlos Alberto Vega Hernández</br>
	Catalina Martin D.</br>
	Eduardo Valerio C.</br>
	Juan Gutiérrez T.</br>
	Matías Rojas</br>
	Nicolás Villa Contardo</br>
	Sebastián Donoso</br>
	Sofia Herrera</br>
	Victoria Arce A.</h3> 
	<div>
		<a href="{% url 'index' %}">Index</a> </br>
		<a href="{% url 'logrado' %}">logrado</a>


</body>
</html>